In [1]:
#Feature Engineering examples are 

#Outlier Detection
#one hot encoding (changing categorical values to numerical values)
#handling missing values

import pandas as pd

In [4]:
df = pd.read_csv("C:/Users/user/Downloads/heights.csv")

In [5]:
df.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [6]:
max_threshold=df["height"].quantile(0.95)
max_threshold

9.689999999999998

In [7]:
min_threshold=df["height"].quantile(0.05)
min_threshold

3.6050000000000004

In [11]:
df=df[(df["height"]>min_threshold) & (df["height"]<max_threshold)]
print(df)

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5

In [12]:
df.describe()

          height
count  12.000000
mean    5.750000
std     0.636039
min     4.900000
25%     5.350000
50%     5.550000
75%     6.125000
max     7.100000